.product-price-container {
  margin-top: 10px;
  display: flex;
}

.product-price-container span {
  margin-top: 4px;
  font-size: 18px;
  color: #9E9E9E;
}

.product-price-container h3 {
  margin-left: 10px;
  font-weight: bold;
  font-size: 32px;
  color: #407BFF;
}